.hidden-xs {
    display: none;
}


body {
    height: 100%;
    width: 100%;
}

.container-homepage {
    background-image: url('../images/BOOK1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.centered-div {
    background-color: rgba(255,255,255,0.3);
    width: 50%;
    max-width: 50%;
}

.auth-link {
    display: revert;
}

.card-title-tag {
    font-size: 30px;
    text-decoration: none!important;
    color: black;
}

.card-title-tag:hover {
    color: grey;
}

.cover-link {
    width: 170px;
}

.note-title {
    width: 800px;
    height: 60px;
    font-size: 45px;
}

.cover-container {
    max-width: 300px;
}

.note-info {
    font-size: 20px;
}

.intro-container,
.body-container,
.created-at {
    width: 1000px;
    padding-left: 7rem;
}

.note-container {
    padding: 100px;
}

.info-card {
    border-radius: 10px;
}

.library-tagline,
.card-text,
.card-title-tag,
.user-tagline,
.note-title,
.note-info,
.intro-title,
.body-title,
.intro-note,
.body-note {
    font-family: "Source Sans Pro";
}



/* RESPONSIVE DESIGN for homepage */

@media screen and (max-width: 660px){

    h1 {
        font-size: 25px;
    }

    .btn {
        font-size: 10px;
        width: 60px;
        height: 30px;
        padding: 5px;
    }

    .centered-div {
        max-width: 60%;
    }
}

@media screen and (max-width: 450px){
    .centered-div {
        max-width: 200px;
        padding: 5%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
        margin: 0;
    }

    /* create notes page responsive */
    .buttons-container {
        width: 250px;
    }
    .auth-button,
    .notes-button {
        height: 30px;
        width: 110px;
        padding: 7px;
    }

    .logo,
    .create-tagline {
        font-size: 30px;
    }
     /* library page responsive */
    .book-container {
        padding: 2rem 4rem!important;
    }
    .card-notes {
        min-width: 200px!important;
        height: auto !important;
        margin-right: 0!important;
    }
    .img-container {
        height: auto;
        max-width: 150px;
        margin: auto;
    }

    .card-img {
        min-height: auto!important;
        padding: 10px;
        width: 150px;
    }
    .library-tagline {
        padding: 10px;
        font-size: 25px;
    }


    .login-title,
    .user-tagline {
        font-size: 30px;
    }

    /* Note page */
    .note-container {
        padding: 70px;
    }
    .info-card {
        max-width: 300px;
    }
    .cover-container {
        max-width: 190px;
    }
    .note-title {
        max-width: 200px;
        margin-bottom: 60px;
        font-size: 30px;
    }
    .intro-container,
    .body-container {
        padding-left: 0;
    }
}


@media screen and (max-width: 780px) and (min-width: 500px) {
    .card-notes {
        margin-right: 0!important;
    }

    .book-container {
        padding: 2rem 6rem!important;
    }

    .library-tagline {
        padding: 20px;
        font-size: 35px;
    }

    .auth-button,
    .notes-button {
        width: 130px;
    }

    /* Note page */
    .info-card {
        max-width: 600px;
    }
    .note-container{
        padding: 80px;
    }
    .tagline-container {
        max-width: 300px;
    }
    .note-title {
        font-size: 30px;
    }
    .intro-container,
    .body-container,
    .created-at{
        padding-left: 1rem;
    }

}

@media screen and (max-width: 1030px) and (min-width: 800px){
    .book-container {
        padding: 2rem 12rem!important;
    }

    .card-notes {
        margin-right: 0!important;
    }

    .library-tagline {
        padding: 20px;
    }

    /* Note page */
    .info-card {
        max-width: 825px;
    }
    .tagline-container {
        max-width: 500px;
    }
    .intro-container,
    .body-container {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 1800px) {
    .book-container {
        padding: 2rem 20rem!important;
    }
    .centered-div {
        height: 270px;
    }
}

@media screen and (max-width: 2700px) and (min-width: 2000px){
    .book-container {
        padding: 2rem 40rem!important;
    }
}

@media screen and (max-width: 375px){
    .centered-div {
        max-width: 85%;
        padding: 6%;
    }

    h1 {
        font-size: 20px;
    }


    .login-title {
        font-size: 30px;
    }

    /* responsive for user_notes and library pages */
    .user-tagline {
        font-size: 30px;
    }

    .logo-container {
        text-align: center;
    }
    .notes-button,
    .auth-button {
        width: 100px;
        padding: 7px;
    }

    .background-div {
        min-height: 150vh;
    }
    .book-container {
        padding: 30px!important;
        margin-top: 10px !important;
    }
    .img-container {
        padding: 10px;
    }
    .card-notes {
        min-width: 200px!important;
        /*min-height: auto!important;*/
        height: auto!important;
        margin-right: 0 !important;
    }
    .card-img {
        width: 140px;
        min-height: 70px!important;
    }
    .library-tagline {
        font-size: 28px;
    }

    /* responsive for create-notes */
    .create-tagline {
        font-size: 30px;
    }
}


@media screen and (max-width: 250px) {
    h1 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    .centered-div {
        height: 70%;
        padding: 10%;
        max-width: 100%;
    }
}

/* SIGNUP PAGE */
/*header {*/
/*    background-color: white;*/
/*}*/
.background-div {
    min-height: 100vh;
    background-color: #B0C4DE;
    padding: 0;

}

.logo-section {
    padding: 1%;
    background-color: white;
}

.logo {
    font-size: 35px;
    margin-left: 3%;
    color: black;
    text-decoration: none !important;
    font-family: Piazolla;
}

.logo:hover {
    color: grey;
}

.signup-button {
    width: 100%;
    min-height: 8vh;
}

.error-message{
    max-width: 33%;
}

.error-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* RESPONSIVE DESIGN for signup page */
@media screen and (max-width: 430px) {
    .signup-title {
        font-size: 35px;
    }
}

.register-alert {
    width: 100%;
}

.book-container {
    /*background-color:#D3D3D3;*/

    padding: 2rem 4rem;
    /*padding: 0px 8px;*/
    border-radius: 10px;
}

.note-image {
    width: 120px;
}

.card-notes:nth-child(odd) {
    margin-right: 80px;
}

.card-body {
    padding: 20px;
}

.note-author,
.note-rate,
.note-intro {
    font-size: 15px;
}

.card-img {
    min-height: 270px;
}

.card-notes {
    min-width: 500px;
    max-width: 600px;
    height: 270px;
}

.no-notes {
    text-decoration: none !important;
}

/* responsive for landscape */
@media screen and (max-height: 375px) and (max-width: 700px) {
    .book-container {
        padding: 4rem!important;
    }
    .card-notes {
        min-width: 250px!important;
        height: auto;!important;
        padding-top: 10px;
    }

    .card-img {
        width: 130px;
        height: 200px;
        min-height: 50px;
    }

    .buttons-container {
        width: 100px;
    }

    .logo-container {
        max-width: 180px;
    }
    .notes-button,
    .auth-button {
        min-width: 70px;
    }
}

.error-container {
    height: 100vh;
    padding: 150px;
    background-color: #B0C4DE;
}

.error404 {
    max-width: 400px;
    height: 100px;
}

.error-404-message {
    height: fit-content;
    font-family: "Quicksand";
}

.error-404-advice{
    height: fit-content;
    font-family: "Quicksand";
    max-width: 400px;
}

.error-button {
    height: 50px;
    width: 100px;
    margin-left: 150px;
}

