<div class="container-fluid background-div p-0">
    <header class="row no-gutters logo-section d-flex">
        <div class="col">
            <a href="../../public/index.php" class="logo">BookNotes</a>
        </div>

        <div class="col d-flex align-items-center justify-content-end">
            <p class="m-0">Already a member?</p>
            <br>
            <a href="#" type="button" class="btn btn-primary ml-4 mr-4">Log in</a>
        </div>
    </header>

    <div class="row no-gutters text-center mt-5">
        <div class="col">
            <h1 class="signup-title">Create a new account</h1>
        </div>
    </div>

    <div class="row mt-5 no-gutters">
        <div class="col-4 mx-auto">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="label-form">Email address</label>
                    <input type="email" class="form-control input-form" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="username" class="label-form">Username</label>
                    <input type="username" class="form-control input-form" id="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="label-form">Password</label>
                    <input type="password" class="form-control input-form" id="exampleInputPassword1">
                </div>
                <div class="form-group mb-5">
                    <label for="confirmPassword" class="label-form">Confirm Password</label>
                    <input type="password" class="form-control input-form" id="confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary signup-button mt-1 ">SIGN UP</button>
            </form>
        </div>
    </div>

</div>
